*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.img-container{
    height: 300px;
    width: 300px;
    background-color: #80ed99;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 18px #57cc99;
    margin-top: 25px;
}
.main{
    width: 550px;
    height: 550px;
    background-color: rgb(153, 135, 135);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-direction: column;
    box-shadow: 5px 10px 18px #ccc7c7;
}
.text{
    width: 450px;
    height: 100px;
    background-color: #38a3a5;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    box-shadow: 5px 10px 18px #57cc99;
}
