@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Roboto:wght@400;700&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-image: linear-gradient(to bottom left, rgb(255, 255, 255) 50%,rgb(62, 253, 164) 50%);
    font-family: 'Roboto',sans-serif;
    height: 100vh;
}
.container{
   
    padding: 10px 50px;
    margin-top: 2rem;
    text-align: center;
}
h1{
    color: rgb(66, 255, 167) ;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}
h2{
    color: rgb(152, 152, 152);
    font-size: 4rem;
    font-weight: 400;
}
.image{
    margin-top: 4rem;
    margin-bottom: 3rem;
}
p{
    padding: 0 40px;
    font-size: 2rem;
    color: rgb(131, 131, 131);
    line-height: 4rem;
    margin-bottom: 3rem;
}
.btn{
    display: inline-block;
    padding: 2rem 7rem;
    background: rgb(52, 52, 52);
    font-size: 2rem;
    text-decoration: none;
    color: rgb(47, 255, 200);
    border-radius: 10px;
    transition: background 0.5s;
}
.btn:hover{
    background-color: rgb(1, 176, 94);
    color:black;
    outline-color: black;
}