* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.box {
    position: relative;
    width: 22rem;
    height: 30rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.vector {
    position: absolute;
    width: 80%;
    z-index: -1;
    display: none;
}

.menu {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
}

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.profile img {
    transform: scale(0.7);
    transition: .5s ease-in-out;
}

.followstatus {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    top: 2rem;
    transition: .2s ease-in-out;
}

.following {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #5500C1;
    transition: .5s ease-in-out;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    transition: .5s ease-in-out;
}

h2,
h4 {
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
}

p {

    font-size: .9rem;
    font-family: 'Poppins';
    text-align: center;
    width: 70%;
    margin: auto;

    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 80px;
    background: #eee;
    visibility: hidden;
}

.footer i {
    font-size: 2rem;
    color: #A5A5A5;
   
}
i:hover {
    cursor: pointer;
    color: #5500C1;
}

/* HOVER EFFECTS */

.box:hover .vector {
    display: block;
    animation: slide-in .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


}

.box:hover .menu {
    display: block;
}

.box:hover p {

    display: block;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    transform: translateY(-3rem);

}

.box:hover .followstatus {
    display: none;
}



.box:hover .profile img {

    transform: translateY(-2rem) scale(0.5);

}

.box:hover h1 {
    transform: translateY(-6rem);
}

.box:hover h3 {
    transform: translateY(-6rem);
}

.box:hover .footer {
    visibility: visible;
}

/* ANIMATIONS */
@keyframes slide-in {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}