*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, white, gray, black, rgb(152, 58, 58), blue, yellow);
    animation:bgAnimate 15s ease infinite ;
    background-size: 400% 400%;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
}
.Profilepic{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 500px;
    height: 500px;
    background-image: url('https://img.freepik.com/premium-photo/black-geometric-stage-podium-neon-light-dark-scientific-background_41050-6132.jpg');
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    background-size: auto;
    box-shadow: 5px 10px 18px #ccc7c7;
    display: flex;
}
.info{
    width: 400px;
    height: 100px;
    background-color: #38a3a5;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Lucida Sans',  sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 20px;

}
@keyframes bgAnimate {
    0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 50% 100%;
	}
	75% {
		background-position: 100% 50%;
	}
    100%{
        background-position: 50% 0%;
    }
}